/* RESET */
*{
    padding: 0; 
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.5rem;
    color: #000
}

*:focus {
    outline: none;
}

/* ESTRUTURA ------------------------*/

.main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    justify-content: center;
    padding: 2.5rem
}

.col1 {
    width: calc(33.3% - 12px);
    align-self: flex-start;
}

.col2 {width: calc(66.6% - 12px)}

.col1, .col2 {
    background-color: #ECECEC;
    padding: 2.5rem
}

/* ESQUERDA - ADICIONAR ------------------------*/

h1 {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 1.5rem;
    display: inline-block;
    
}

#novaTarefa {
    padding: .75rem 1rem;
    width: 100%;
    margin: 1.5rem 0;
    border: none
}

#novaTarefa::placeholder {color: #979797}

.wrapper {
    display: flex;
    column-gap: 24px;
    row-gap: 24px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.cont-adicionar {float: right}

#prioridade {
    padding: .75rem 1rem;
    border: none;
    margin-left: 1.5rem;
    min-width: 8rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image:
    linear-gradient(45deg, transparent 50%, #979797 50%),
    linear-gradient(135deg, #979797 50%, transparent 50%);
    background-position:
    calc(100% - 20px) calc(1em + 4px),
    calc(100% - 15px) calc(1em + 4px);
    background-size:
    6px 6px,
    6px 6px;
    background-repeat: no-repeat;
}

#adicionar {
    padding: .75rem 1rem;
    border: none;
    background-color: #000;
    color: #fff;
}

#plus {
    color: #fff;
    margin-right: 1rem;
}

/* DIREITA - LISTA ------------------------*/

#lista {
    list-style-type: none;
    margin-top: 1.5rem;
    display: block;
}

#totalTarefas {
    display: inline-block;
    color: #979797;
    float: right;
}

li {
    width: 100%;
    background-color: white !important;
    display: block;
    margin-bottom: .5rem
}

li:last-child {margin-bottom: 0;}

button {cursor: pointer;}

#concluido {
    width: 1.5rem;
    height: 1.5rem;
    border: 1px solid #979797;
    background-color: #fff;
    margin: .75rem;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

#concluido img {
    height: 1rem;
    margin-top: .2rem;
    opacity: 0;
}

.botaoDone {opacity: 1 !important;}



#concluido:hover {background-color: #f3f3f3
}

#prioridadeEscolhida {
    font-size: .75rem;
    line-height: 1rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    width: 4rem;
    text-align: center;
    padding: 1rem 0;
    display: inline-block;
    vertical-align: middle;
}

#tarefa {
    line-height: 1rem;
    padding: 1rem 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

#delete {
    float: right;
    display: inline-block;
    vertical-align: middle;
    background-color: #979797;
    width: 3rem;
    height: 3rem;
    padding: .75rem;
    border: none
}

#delete:hover {background-color: #F44336;}

#delete img {height: 1rem}


.prioridadeDone {background-color: #979797 !important;}
.tarefaDone {color: #979797; text-decoration: line-through !important;}
.liDone {background-color: #e0e0e0 !important}

.baixa {background-color: #A5D6A7 }
.media {background-color: #90CAF9 }
.alta {background-color: #EF9A9A }

@media only screen and (max-width: 1070px) {
    
    
    .col1 {
        width: 100%;
        align-self: flex-start;
    }
    
    .col2 {width: 100%}

}